<script setup>
    import {ref} from 'vue'

    const props = defineProps({
        name: {type: String, required: false, default: 'name'},
        value: {type: String, required: true},
        hint: {type: String, required: false, default: 'Click to edit'},
    })

    const emit = defineEmits(['onUpdate'])

    const editing = ref(false)
    const value = ref(props.value)
    const valueOrig = ref(null)

    function isBlank(s) {
        return !s || s.trim().length === 0
    }

    function edit() {
        valueOrig.value = props.value
        editing.value = true
    }

    function save() {
        editing.value = false
        emit('onUpdate', {name: props.name, value: value.value})
        valueOrig.value = null
    }

    function cancel() {
        editing.value = false
        value.value = valueOrig.value
        valueOrig.value = undefined
    }
</script>

<template>
    <div v-if="editing">
        <input type="text" v-model="value"
               @keyup.enter="save"
               @keyup.esc="cancel">
    </div>
    <div v-else @click="edit" class="text">
        <span v-if="isBlank(value)">{{ hint }}</span>
        <span v-else>{{ value }}</span>
    </div>
</template>

<style scoped>
    .text:hover {
        background-color: hsl(33, 100%, 50%, 20%);
    }
</style>
