<script setup>
    import {ref, computed, onMounted} from 'vue'
    import {jsonData} from './model/data.js'
    import {Item} from './model/item.js'

    const cart = ref([
        {product: 'Apple', price: 1234.25},
        {product: 'Banana', price: 2345.35},
        {product: 'Coco Nut', price: 3456.45},
        {product: 'Date Plum', price: 4567.55},
    ])

    const total = computed(() => {
        return cart.value
                .map(item => item.price)
                .reduce((sum, price) => sum + price, 0)
    })

    function fmt(amt) {
        return 'EUR ' + (+amt).toPrecision(2)
    }

    const shoppingCart = ref([])
    onMounted(() => {
        shoppingCart.value = jsonData.map(data => new Item(data))
    })
    const sum = computed(() => {
        return shoppingCart.value
                .map(item => item.amount)
                .reduce((sum, amount) => sum + amount, 0)
    })
    const vat = computed(() => sum.value * 0.25)
    const total2 = computed(() => sum.value + vat.value)
</script>

<template>
    <h1>Computed Values</h1>

    <h3>Shopping Cart</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Fruit</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, row) of cart">
                <td>{{ row + 1 }}</td>
                <td>{{ item.product }}</td>
                <td>{{ $pipes.kr(item.price) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Total</th>
                <th> {{ $pipes.kr(total) }}</th>
            </tr>
        </tfoot>
    </table>

    <hr>
    <h3>Products in Your Shopping Cart</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Price</th>
                <th>Count</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,row) of shoppingCart" :key="row">
                <td>{{row+1}}</td>
                <td>{{item.product}}</td>
                <td>{{item.price}}</td>
                <td>{{item.count}}</td>
                <td>{{ $pipes.kr(item.amount) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Sum:</td>
                <td class="border2">{{ $pipes.kr(sum) }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>VAT 25%:</td>
                <td>{{ $pipes.kr(vat) }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td class="border1">{{ $pipes.kr(total2) }}</td>
            </tr>
        </tfoot>
    </table>

</template>

<style scoped>
    table {
        width: 100%;
    }

    th {text-align: left;}

    tfoot th {border-top: thin solid #aaa;}

    th:last-child, td:last-child {
        text-align: right;
    }

    .border1 {border-top: 2px solid #999;}
    .border2 {border-top: 3px double #999;}
</style>

