<script setup>
    import {ref, onMounted, onBeforeUnmount} from 'vue'
    let timer      = undefined
    const datetime = ref(new Date())
    onMounted(() => {
        console.log('onMounted: starting clock')
        timer = setInterval(() => {
            datetime.value = new Date()
        }, 1000)
    })
    onBeforeUnmount(() => {
        console.log('onBeforeUnmount: stopping clock')
        clearInterval(timer)
    })
</script>

<template>
    <h5>Now: {{ datetime.toLocaleTimeString() }}</h5>
</template>

<style scoped lang="scss">
    h5 {
        font-family: monospace;
        font-size: 1.5rem;
        margin: .5rem 0;
    }
</style>

