<script setup>
    const props = defineProps({
        name: {
            type: String,
            required: true
        },
        size: {
            type: Number,
            required: false,
            default: 1,
            validator: v => (1 <= v) && (v <= 10),
        },
        color: {
            type: String,
            required: false,
            default: 'inherit'
        }
    })
    
    const emit = defineEmits({
        magic: (value) => !!value && value === 'bazinga'
    })
    function clickHdlr(ev) {
        console.log('you clicked: %o', ev)
        emit('magic', 'whatever')
    }
</script>

<template>
    <i :class="'bi bi-' + props.name" 
       :style="`font-size: ${props.size}rem; color: ${props.color};`"
        @click="clickHdlr"
    ></i>
</template>

