<script setup>
    import {ref, watchEffect} from 'vue'
    import CardWidget from './widgets/card-widget.vue'
    import HbfCardWidget from './widgets/hbf-card-widget.vue'
    import ToastWidget from './widgets/toast-widget.vue'

    const imageUrl = ref('')
    const answer = ref('')
    watchEffect(async () => {
        const res = await fetch('https://yesno.wtf/api')
        if (res.ok) {
            const data = await res.json()
            imageUrl.value = data.image
            answer.value = data.answer
        }
    })

    const user = ref([])
    watchEffect(async () => {
        const res = await fetch('https://randomuser.me/api/')
        if (res.ok) {
            const data = await res.json()
            user.value = data.results[0]
            console.log(user.value)
        }
    })

    const showToast = ref(false)
</script>

<template>
    <div class="container">
        <h1>Slots</h1>

        <div class="row">
            <div class="col">
                <CardWidget :image="imageUrl">
                    <h3>The Decision Tool</h3>
                    <p>We already said <strong>{{ answer }}</strong>!</p>
                    <p>More info at
                        <a href="https://yesno.wtf/">Yes/No</a>
                    </p>
                </CardWidget>
            </div>
            <div class="col">
                <CardWidget :image="imageUrl">
                    <h3>The Decision Tool</h3>
                    <p>We already said <strong>{{ answer }}</strong>!</p>
                    <p>More info at
                        <a href="https://yesno.wtf/">Yes/No</a>
                    </p>
                </CardWidget>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">

                <hbf-card-widget v-if="user">
                    <template #header>
                        {{ user?.name?.first }} {{ user?.name?.last }}
                    </template>
                    <template #body>
                        <img class="profile-image" :src="user?.picture?.large">
                        <div class="text-center">
                            <i class="bi bi-envelope me-1"></i>
                            <code>{{ user.email }}</code> <br>

                            <i class="bi bi-telephone me-1"></i>
                            {{ user.cell }} <br>

                            <i class="bi bi-geo-alt"></i>
                            <strong>{{ user?.location?.street?.number }}
                                {{ user?.location?.street?.name }}</strong> <br>

                            <i class="bi bi-mailbox"></i>
                            {{ user?.location?.city }} {{ user?.location?.postcode }} <br>

                            <i class="bi bi-globe"></i>
                            {{ user?.location?.country }}
                        </div>
                    </template>
                    <template #footer>
                        <button class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil"></i> Edit
                        </button>
                        <button class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Remove
                        </button>
                    </template>
                </hbf-card-widget>

            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <button @click="showToast=true" class="btn btn-success">
                    Show Toast
                </button>
                <toast-widget v-model="showToast">
                    <i class="bi bi-bug-fill"></i>
                    Bummer! This didn't go the way
                    I thought it should. Call support now!
                </toast-widget>
            </div>
        </div>

    </div>
</template>

<style scoped>
    p {
        padding: 0;
        margin: 0;
    }
    .profile-image {
        border-radius: 50%;
        border: 1px solid #555;
    }
    button + button {
        margin-left: 1em;
    }
</style>

