<script setup>
    import {ref} from 'vue'

</script>

<template>
    <header>
        header goes here
    </header>

    <main>
        <router-view/>
    </main>

    <footer>
        footer goes here
    </footer>
</template>

<style scoped>

</style>
