<script setup>
    import {reactive} from 'vue'

    const data = reactive({
        value: 0
    })

    let timerId

    function start() {
        data.value = 0
        timerId = setInterval(() => {
            data.value++
        }, 1000)
    }

    function stop() {
        clearInterval(timerId)
    }
</script>

<template>
    <h1>Simple Vue App</h1>

    <div class="stop-watch">
        <div class="digits">
            {{ data.value }}
        </div>
        <div class="buttons">
            <button v-on:click="start" class="start">Start</button>
            <button @click="stop" class="stop">Stop</button>
        </div>
    </div>
</template>

<style scoped>
    .stop-watch {
        width: 18em;
        border: thin solid #555;
        font-family: sans-serif;
        padding: 1em;
    }

    .digits {
        font-size: 4rem;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
    }

    button {
        font-size: 2rem;
        color: white;
        border: none;
        border-radius: .25em;
        padding: .25em .5em;
    }

    .start {
        background-color: green
    }

    .stop {
        background-color: red
    }
</style>
