<script setup>
    import {computed} from 'vue'
    import AuthService from './services/auth.service.js'

    const authSvc = new AuthService()
    const authenticated = computed(() => authSvc.isAuthRef().value)
</script>

<template>
    <div class="container d-flex flex-column justify-content-between vh-100">
        <header class="bg-primary text-white p-1 d-flex justify-content-between">
            <router-link :to="{name:'home'}" class="navbar-brand">
                <i class="bi bi-box-fill"></i>
                Simple Auth App
            </router-link>

            <span class="ms-5">
                {{ authenticated ? 'Logged In' : 'Anonymous' }}
            </span>

            <span class="ms-auto">
                <router-link :to="{name: 'login'}" class="btn btn-success btn-sm">Login</router-link>
                <router-link :to="{name: 'admin'}" class="btn btn-warning btn-sm ms-2">Admin</router-link>
            </span>
        </header>
        <main class="flex-grow-1">
            <router-view/>
        </main>
        <footer class="bg-dark text-white text-center p-1">
            &copy; {{ new Date().getFullYear() }} Bugsify, Ltd. All rights reversed.
        </footer>
    </div>
</template>
