<script setup>
    const props = defineProps({
        image: {
            type: String,
            required: true
        },
        width: {
            type: Number,
            required: false,
            default: 16
        }
    })
</script>

<template>
    <div class="card" :style="'width:' + props.width + 'em;'">
        <img :src="props.image" class="card-img-top" alt="Image">
        <div class="card-body">
            <slot>Insert some content here</slot>
        </div>
    </div>
</template>

