<script setup>
    const props = defineProps({
        width: {
            type: Number,
            required: false,
            default: 18
        }
    })
</script>

<template>
    <div class="card text-center" :style="`width: ${props.width}em;`">
        <h4 class="card-header">
            <slot name="header"></slot>
        </h4>
        <div class="card-body">
            <slot name="body"></slot>
        </div>
        <div class="card-footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>

<style scoped>

</style>
