<script setup>
    import {ref, watch} from 'vue'

    const props   = defineProps(['modelValue'])
    const emit    = defineEmits(['update:modelValue'])
    const visible = ref(false)

    watch(() => props.modelValue, (newValue) => {
        if (newValue) {
            visible.value = true
            setTimeout(() => {
                visible.value = false
                emit('update:modelValue', false)
            }, 4000)
        }
    })
</script>

<template>
    <Teleport to="body">
        <div v-if="visible"
             class="alert alert-danger top-right
                    d-flex align-items-center alert-dismissible fade show">
            <slot> text goes here</slot>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </Teleport>
</template>

<style scoped>
    .top-right {
        position: fixed;
        right: 2em;
        top: 1.5em;
        width: 20em;
        opacity: 85%;
    }
</style>

