<script setup>
    import {reactive, ref} from 'vue'

    const data = reactive({
        form: {
            name: 'Nisse',
            age: 42,
            birthDay: new Date(),
            vegetarian: false,
            city: 'Stockholm'
        },
        // cities: ['Stockholm', 'Göteborg', 'Uppsala', 'Umeå', 'Knäckebröhult']
    })
    const cities = ref(['Stockholm', 'Göteborg', 'Uppsala', 'Umeå', 'Knäckebröhult'])
    function toIso(d) {
        return d.toLocaleDateString()
    }
</script>

<template>
    <h1>Registration Form</h1>

    <fieldset>
        <legend>Form</legend>

        <label>
            <span>Name:</span>
            <input type="text" v-model="data.form.name">
        </label>

        <label>
            <span>Age:</span>
            <input type="number" v-model="data.form.age">
        </label>

        <label>
            <span>Birth Date:</span>
            <input type="date"
                   :value="toIso(data.form.birthDay)"
                   @input="data.form.birthDay = new Date($event.target.value)">
        </label>

        <label>
            <span>Vegetarian:</span>
            <input type="checkbox" v-model="data.form.vegetarian">
        </label>

        <section>
            <label v-for="c of cities">
                <span>{{ c }}</span>
                <input type="radio" name="city" :value="c" v-model="data.form.city">
            </label>
        </section>
    </fieldset>
    <hr>
    <pre>{{ data.form }}</pre>
</template>

<style scoped>
    label {
        display: block;
    }
    label span {
        display: inline-block;
        width: 6em;
    }
    label + label, section {
        margin-top: 1em;
    }
    section label {
        margin-top: .1em;
    }
</style>
