<script setup>
    import {ref} from 'vue'
    import ROUTES from '../router/routes.js'

    const routes = ref(ROUTES
            .filter(r => r.meta?.label)
            .map(r => ({
                uri: r.path,
                txt: r.meta.label
            }))
    )
</script>

<template>
    <nav class="navbar navbar-dark bg-primary navbar-expand-sm py-0 px-1">
        <router-link to="/home" class="navbar-brand py-0">Silly App</router-link>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li v-for="r of routes" class="nav-item">
                    <router-link :to="r.uri"
                                 active-class="active"
                                 class="nav-link">{{ r.txt }}
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>
