<script setup>
    import {ref, onMounted} from 'vue';
    import {useRouter} from 'vue-router'
    import UserSvc from '../services/user.service.js'

    const router = useRouter()
    const userSvc = new UserSvc()
    const users = ref([])

    onMounted(async () => {
        users.value = await userSvc.all()
    })

    async function showUser(userId) {
        await router.push({name: 'user', params: {id: userId}})
    }
</script>

<template>
    <h1>List of Users</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Avatar</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="u of users" :key="u.id" @click="showUser(u.id)">
                <td>
                    {{ u.first_name }} {{ u.last_name }}
                </td>
                <td>
                    {{ u.city }}
                </td>
                <td>
                    <img :src="u.avatar" alt="Avatar">
                </td>
            </tr>
        </tbody>
    </table>
</template>

<style scoped>
    table {
        width: 100%;
    }

    th {
        text-align: left;
    }

    tbody tr:hover {
        background-color: #ddd;
    }

    img {
        max-height: 3em;
    }
</style>
