<script setup>
    import {ref, onMounted} from 'vue';
    import {useRouter, useRoute} from 'vue-router'
    import UserSvc from '../services/user.service.js'

    const router = useRouter()
    const route = useRoute()
    const userSvc = new UserSvc()
    const user = ref({})
    onMounted(async () => {
        const id = route.params.id
        user.value = await userSvc.one(id)
    })

    async function back() {
        router.go(-1)
    }
</script>

<template>
    <h1>
        User Detail
        <button @click="back">Go Back</button>
    </h1>
    <section v-if="user">
        <div class="avatar">
            <img :src="user.avatar">
        </div>
        <div>
            <strong>{{ user.first_name }} {{ user.last_name }}</strong>
        </div>
        <div>
            <code> {{ user.email }} </code>
        </div>
        <address>
            {{ user.street }} <br>
            {{ user.postcode }} {{ user.city }} <br>
            {{ user.country }}
        </address>
        <div>
            <kbd>User ID: {{ user.id }}</kbd>
        </div>
    </section>
</template>

<style scoped>
    section {
        text-align: center;
    }

    img {
        height: 10em;
    }
</style>
