<script setup>
    import {reactive, computed} from 'vue'

    const item = reactive({
        what: '',
        when: new Date().toLocaleDateString()
    })

    const emit = defineEmits(['onSave'])

    const invalid = computed(() => {
        const notBlank = s => !!s && s.trim().length > 1
        const valid    = notBlank(item.what) && notBlank(item.when)
        return !valid
    })

    function clear() {
        item.what = ''
        item.when = new Date().toLocaleDateString()
    }

    function save() {
        emit('onSave', {what: item.what, when: new Date(item.when)})
        clear()
    }
</script>

<template>
    <h2>Create To-Do</h2>
    
    <label for="what">
        <span>What:</span>
        <input type="text" id="what" v-model="item.what" 
               placeholder="What should be done?" >
    </label>
    <label for="when">
        <span>When:</span>
        <input type="date" id="when" v-model="item.when"  >
    </label>
    
    <button @click="clear">Clear</button>
    <button :disabled="invalid" @click="save">Save</button>
</template>

<style scoped>
    h2 { margin: .25em 0; }
    label { font-family: sans-serif; }
    label + label { margin-left: 1em; }
    button { margin-left: 1em; }
</style>
