<script setup>
    import {Todo} from '../domain/todo.js'

    const props = defineProps({
        todo: { type: Todo, required: true }
    })
    const emit = defineEmits(['onUpdate', 'onRemove'])

    function toggle() {
        props.todo.toggle()
        emit('onUpdate', props.todo)
    }

    function remove() {
        emit('onRemove', props.todo)
    }
</script>

<template>
    <fieldset>
        <legend>Todo: {{ todo.id }}</legend>
        <div class="container">
            <div>
                <h3 :class="{done: todo.done}">{{ todo.what }}</h3>
                <h5><em>When:</em> {{ todo.whenStr }}</h5>
            </div>
            <div>
                <button @click="toggle">Toggle Done</button> <br>
                <button  @click="remove" :disabled="!todo.done" class="space">Remove</button>
            </div>
        </div>
    </fieldset>
</template>

<style scoped>
    fieldset { border-radius: .5em; }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .done {
        text-decoration: line-through;
        color: #aaa;
    }
    .space { margin-top: .25em; }
    h3 { color: darkorange; }
    h3, h5 {
        margin: 0; padding: 0;
        font-family: sans-serif;
    }
</style>

