<script setup>
    import {ref, onMounted, onBeforeUnmount} from 'vue'

    const text = ref('00:00:00')
    const timerId = ref(null)
    let offset

    function digits(num) {
        return Number(num).toString().padStart(2, '0')
    }

    function start() {
        console.log('START')
        offset = Date.now()
        timerId.value = setInterval(() => {
            const now = new Date(Date.now() - offset)
            text.value = `${digits(now.getUTCHours())}:${digits(now.getMinutes())}:${digits(now.getSeconds())}`
        }, 1000)
    }

    function stop() {
        console.log('STOP')
        clearInterval(timerId.value)
        timerId.value = null
    }

    onMounted(() => start())
    onBeforeUnmount(() => stop())
</script>

<template>
    <div class="stop-watch">
        <div class="digits">
            {{ text }}
        </div>
        <div class="buttons">
            <button :disabled="timerId" @click="start" class="start">Start</button>
            <button :disabled="!timerId" @click="stop" class="stop">Stop</button>
        </div>
    </div>
</template>

<style scoped>
    .stop-watch {
        width: 18em;
        border: thin solid #555;
        font-family: sans-serif;
        padding: 1em;
    }

    .digits {
        font-family: monospace;
        font-size: 4rem;
        font-weight: 700;
        color: #333;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
    }

    button {
        font-size: 2rem;
        color: white;
        border: none;
        border-radius: .25em;
        padding: .25em .5em;
    }

    .start {
        background-color: green
    }
    button:disabled {
        background-color: gray;
    }

    .stop {
        background-color: red
    }
</style>
