<script setup>
    import {RouterLink, RouterView} from 'vue-router'
</script>

<template>
    <h1>Silly App</h1>
    <ul>
        <li><router-link to="/home">Home</router-link></li>
        <li><router-link to="/help">Help</router-link></li>
        <li><router-link to="/about">About</router-link></li>
    </ul>
    <div>Pages below this line</div><hr>
    <main> <router-view/> </main>
    <hr><div>Pages above this line</div>
    <footer>
        &copy; {{ new Date().getFullYear() }},
        The Silly Walk Dept. All rights rehearsed.
    </footer>
</template>

<style scoped>
    .router-link-active {
        color: darkorange;
    }
    main {padding: .5em;}
    footer {
        background-color: #333;
        color: #ddd;
        font-size: .8rem;
        padding: .5em;
        text-align: center;
    }
    hr {margin: 0;}
    div {font-size: .75rem; font-style: italic;}
</style>

