<script setup>
    import {ref} from 'vue';
    import PERSONS from './persons.js'
    const persons = ref(PERSONS)
</script>

<template>
    <h1>Person List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="p of persons" :key="p.id" :class="{'striped': p.id%2 === 1 } ">
                <td>{{ p.id }}</td>
                <td>{{ p.first_name }}</td>
                <td>{{ p.last_name }}</td>
                <td>{{ p.email }}</td>
            </tr>
        </tbody>
    </table>
</template>

<style scoped>
    table {
        width: 100%;
        font-family: sans-serif;
    }
    th {
        text-align: left;
    }
    .striped {
        background-color: #ddd;
    }
</style>

