<script setup>
    import {useTodoStore, Todo} from '../stores/todo-store.js'
    const todoStore = useTodoStore();
</script>

<template>
    <div class="alert alert-warning m-0 py-0 px-1">
        <h6 class="alert-heading m-0"># To-do</h6>
        <p class="m-0 text-center"> {{ todoStore.todoCount }}</p>
    </div>
</template>

<style scoped >

</style>
