<script setup>
    import {DateTime} from 'luxon'
    import {useTodoStore} from '../stores/todo-store.js'

    const props = defineProps({
        todo: {type: Object, required: true}
    })
    const emit = defineEmits(['edit'])

    function editTodo() {
        emit('edit', props.todo.id)
    }

    const todoStore = useTodoStore();
    function toggleDone() {
        todoStore.toggleDone(props.todo.id)
    }
    function removeTodo() {
        todoStore.remove(props.todo)
    }

    function relDate(d) {
        return DateTime.fromJSDate(d).toRelative({locale: 'en'})
    }
</script>

<template>
    <div class="todo card" :class="{'border-secondary': todo.done, 'border-primary': !todo.done}">
        <div class="card-header text-white"
             :class="{'bg-secondary': todo.done, 
                      'text-decoration-line-through':todo.done, 
                       'bg-primary': !todo.done}">
            {{ todo.what }}
        </div>
        <div class="card-body">
            <div class="card-title">
                <em v-if="todo.done">Completed</em> 
                <em v-else>Complete</em> 
                {{ relDate(todo.when) }}
            </div>
        </div>
        <div class="card-footer">
            <button @click="toggleDone" class="btn btn-warning text-white btn-sm">
                <span v-if="todo.done">Activate</span>
                <span v-else>Done</span>
            </button>
            <button @click="editTodo" class="btn btn-info text-white btn-sm">
                Edit
            </button>
            <button @click="removeTodo" class="btn btn-danger text-white btn-sm">
                Remove
            </button>
        </div>
    </div>
</template>

<style scoped>
    button + button {
        margin-left: 1em;
    }
</style>
