<script setup>
    import {reactive} from 'vue'

    let data = reactive({cnt:1})

    setInterval(() => {
        ++data.cnt;
        console.log('cnt: %d', data.cnt)
    }, 1000)
</script>

<template>
    <h1>Why do we need reactive?</h1>
    <p> cnt: {{ data.cnt }} </p>
</template>

<style scoped>
</style>
