<script setup>
    import {reactive, ref} from 'vue'

    let data = reactive({
        num: 1,
        obj: {fn: 'Nisse', ln: 'Hult'},
        arr: [1, 2, 3]
    })
    
    let orig = {num: 1}
    let proxy = reactive(orig)

    const action = () => {
        ++data.num
        let {fn,ln} = data.obj
        data.obj = {
            fn:  [...fn].reverse().join(''),
            ln: (data.num % 2 === 0) ? ln.toUpperCase() : ln.toLowerCase()
        }
        data.arr = data.arr.map(n => n + 1)
        ++orig.num
    }
    
    let timer
    function start() { timer = setInterval(action, 1000) }
    function stop() { clearInterval(timer) }
</script>

<template>
    <h1>Reactivity</h1>
    <ul>
        <li>num: {{ data.num }}</li>
        <li>obj: {{ data.obj }}</li>
        <li>arr: {{ data.arr }}</li>
        <li>proxy: {{ proxy }}</li>
    </ul>
    <button @click="start">START</button>
    <button @click="stop">STOP</button>
</template>

<style scoped>
</style>
