<script setup>
    import {ref} from 'vue'
    import {useRouter} from 'vue-router'
    import AuthService from '../services/auth.service.js'

    const image = ref('https://loremflickr.com/800/400/admin')
    const router = useRouter()
    const authSvc = new AuthService()

    async function logout() {
        authSvc.logout()
        await router.push({name: 'home', replace: true})
    }
</script>

<template>
    <h1 class="d-flex justify-content-between mt-3">
        <span>Admin</span>
        <button @click="logout" class="btn btn-secondary btn-sm text-uppercase">
            <i class="bi bi-box-arrow-left"></i>
            logout
        </button>
    </h1>
    <p class="justified">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eaque laudantium placeat. Aliquid amet
        ducimus eaque hic illum incidunt nobis nostrum odio sequi, ullam veritatis voluptate voluptates. Amet commodi
        consequatur consequuntur cumque debitis delectus dignissimos distinctio dolor dolorum eius eligendi et ex fuga
        harum ipsam itaque iure labore, maiores maxime minus nam natus necessitatibus non odit omnis perferendis qui
        quia repellendus repudiandae sunt unde velit veniam vitae? Beatae dolore earum ipsa nihil placeat porro
        reprehenderit vero. Doloribus dolorum est ex fugiat iste laboriosam, magnam nesciunt nulla possimus praesentium
        quaerat quasi quisquam quod quos rerum tempora temporibus. Eos maxime molestias sit!
    </p>
    <p>
        <img :src="image" alt="admin" class="img-fluid rounded-5">
    </p>
</template>

<style scoped>
    .justified {
        text-align: justify;
        column-count: 3;
        column-rule: 1px solid #ccc;
        font-size: .8rem;
    }

    .justified::first-letter {
        font-size: 2rem;
        line-height: 1rem;
        padding-right: .1rem;
        font-weight: 700;
        color: darkred;
        float: left;
    }
</style>
