<script setup>
    import {ref} from 'vue'
    const image = ref('https://loremflickr.com/800/400/laptop')
</script>

<template>
    <h1>Home</h1>
    <p>
        <router-link :to="{name: 'login'}" class="btn btn-primary">
            <i class="bi bi-box-arrow-in-right"></i>
            Login
        </router-link>
    </p>
    <p>
        <img :src="image" alt="home" class="img-fluid rounded-5">
    </p>
</template>

<style scoped>

</style>
