<script setup>
    import {ref, computed} from 'vue'
    import {useRouter} from 'vue-router'
    import AuthService from '../services/auth.service.js'

    const router = useRouter()
    const authSvc = new AuthService()

    const email = ref('')
    const password = ref('')
    const message = ref(null)
    const invalid = computed(() => {
        const isBlank = (s) => !s || s.trim().length === 0;
        return isBlank(email.value) || isBlank(password.value);
    })

    function login() {
        const ok = authSvc.login(email.value, password.value);
        if (ok) {
            router.push({name: 'admin', replace: true})
        } else {
            message.value = 'Invalid email and/or password'
            password.value = ''
        }
    }
</script>

<template>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-primary text-white fw-semibold">
                    Login to this Silly App
                </div>
                <div class="card-body">
                    <p v-if="message" class="text-danger">
                        {{ message }}
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" v-model="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" v-model="password" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" @click.prevent="login" :disabled="invalid"
                            class="btn btn-success text-uppercase">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Login
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

</template>

<style scoped>

</style>
