<script setup>
    import {ref} from 'vue'
    const user = ref({
        photo: 'https://randomuser.me/api/portraits/women/96.jpg',
        name: {
            title: "Mrs",
            first: "Célia",
            last: "Duval"
        },
        email: "celia.duval@example.com",
        location: {
            street: {
                "number": 2793,
                "name": "Rue Louis-Garrand"
            },
            city: "Nancy",
            country: "France",
            postcode: 51552,
        },
    })
    const width=ref(25)
</script>

<template>
    <h1>Profile Page</h1>

    <div class="card mb-3 shadow" :style="`width: ${width}em;`">
        <div class="row g-0">
            <div class="col-4">
                <img :src="user.photo" class="img-fluid rounded-start" alt="Profile Photo">
            </div>
            <div class="col-8">
                <div class="card-body p-1">
                    <h3>{{ user.name.title }} {{ user.name.first }} {{ user.name.last }} </h3>
                    <div><code>{{ user.email }}</code></div>
                    <address>
                        {{ user.location.street.name }} {{ user.location.street.number }} <br>
                        {{ user.location.postcode }} {{ user.location.city }} <br>
                        {{ user.location.country }}
                    </address>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    img {
        height: 100%;
    }

    h3 {
        margin: 0;
        font-size: 1rem;
    }

    address {
        font-size: .9rem;
        font-style: italic;
        margin-top: .5em;
    }
</style>
