img[data-v-cd3afeb4]{height:100%}h3[data-v-cd3afeb4]{margin:0;font-size:1rem}address[data-v-cd3afeb4]{font-size:.9rem;font-style:italic;margin-top:.5em}img[data-v-318f51fb]{width:100%;border-radius:.5em}.container[data-v-7a7a37b1]{display:flex;flex-direction:column;justify-content:space-between;height:100vh}main[data-v-7a7a37b1]{flex-grow:1;flex-shrink:1}
