<script setup>
    import {RouterView} from 'vue-router'
    import TodoStateWidget from './widgets/todo-status.vue'
</script>

<template>
    <div class="container">
        <header class="fixed-top bg-primary text-white px-2 py-1 d-flex justify-content-between align-items-center">
            <a class="navbar-brand fw-bold" href="/">
                Silly/Simple Todo App 
            </a>
            <todo-state-widget />
        </header>
        <main class="mt-5 pt-2">
            <router-view/>
        </main>
        <footer class="fixed-bottom text-center p-3 bg-dark text-light">
            &copy; Todo Factory Ltd. All rights reversed.
        </footer>
    </div>
</template>

<style scoped>

</style>

