<script setup>
  import { reactive } from "vue";
  const data = reactive({
    msg: 'Counter',
    cnt: 1,
    url: 'https://www.ribomation.se/',
    html: `<fieldset style="color:red;">
      <legend>Essential Stuff</legend>
      <p>Lorem ipsum, what ever, yada yada</p>
      </fieldset>`
  })
  setInterval(() => { data.cnt++ }, 1000)

  const kr = (value, oren=false) => {
    return Number(value).toLocaleString('sv', {
      useGrouping: true,
      minimumFractionDigits: oren ? 2 : 0,
      maximumFractionDigits: oren ? 2 : 0,
    }) + ' kr';
  };
</script>

<template>
  <h1>Handlebar Syntax</h1>
  <p> {{data.msg}}: {{data.cnt}} </p>
  <p> {{ (data.cnt % 2 === 0) ? 'EVEN' : 'ODD' }} </p>
  <p> Current time: {{ new Date().toLocaleTimeString() }} </p>

  <h1>Expression Prevention</h1>
  <ul>
    <li><strong v-pre>{{data.cnt}}</strong> = {{data.cnt}}</li>
    <li><strong v-pre>{{data.url}}</strong> = {{data.url}}</li>
    <li><strong v-pre>{{new Date()}}</strong> = {{new Date()}}</li>
  </ul>

  <h1>HTML Injection</h1>
  <div>This doesn't work, the way you think: <br> {{ data.html }} </div>

  <div>However, this do: <br> <span v-html="data.html"></span> </div>

  <h1>Binding Attributes</h1>
  <p :style="{'font-size': (data.cnt % 25 + 10) + 'pt'}">
    Foobar Strikes Again ({{ data.cnt }})
  </p>

  <h1>Formatting Functions</h1>
  <p>
    Price: {{ kr(data.cnt * 1.123, true) }}
  </p>
</template>

<style scoped>
  div + div {margin-top: 1em;}
</style>
