<script setup>
    import NavbarWidget from './widgets/navbar-widget.vue'
    const mode = import.meta.env.MODE
    const url = import.meta.env.VITE_URL
    console.log('url: %o', import.meta.env)
</script>

<template>
    <div class="container">
        <header class="bg-secondary text-white px-2 py-0">
            header goes here
        </header>
        <navbar-widget/>

        <main>
            <router-view/>
        </main>

        <footer class="bg-dark text-white p-2 text-center ">
            (mode: {{mode}}) (url: {{url}})
        </footer>
    </div>
</template>

<style scoped>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    main {
        flex-grow: 1;
        flex-shrink: 1;
    }
</style>
