<script setup>
    import {useRoute, useRouter} from 'vue-router'

    const route = useRoute()
    document.title = route.meta.title
    function add_meta(name, content) {
        const meta = document.createElement('meta')
        meta.setAttribute('name', name)
        meta.setAttribute('content', content)
        document.head.appendChild(meta)
    }
    add_meta('framework', 'Vue 3, Vue-Router 4')
    add_meta('keywords', 'vue, composition api, vue-router')

    const router = useRouter()
    async function gotoThanks() {
        await router.push({name: 'thanks'})
    }

    import peopleImp from '@/assets/people.jpg'
    const peopleImg = peopleImp
</script>

<template>
    <h2>Home Page</h2>
    <pre>meta: {{ route.meta }}</pre>
    <button @click="gotoThanks">Go-to Thank You</button>
    <p>
        <img :src="peopleImg" alt="">
    </p>
</template>

<style scoped>
    img {
        width: 50%;
        border-radius: 50%;
        border: .2em solid #999;
    }
</style>
