<script setup>
    import {ref} from 'vue'

</script>

<template>
    <h2>Thank You</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, consequatur iusto minima molestias omnis
        placeat quaerat quibusdam quidem. Aliquam architecto atque cumque cupiditate est, explicabo fugiat incidunt ipsa
        laudantium libero minima necessitatibus placeat provident quo quos recusandae repellendus repudiandae, sequi sit
        ullam! Accusamus aut eius laudantium magni molestiae officiis quo ratione tenetur, totam. At consequatur
        corporis delectus dolores dolorum eaque hic itaque laudantium, minima nam necessitatibus officiis optio pariatur
        quidem repudiandae. Aperiam eius eveniet molestiae officia praesentium quasi rem reprehenderit, ullam veritatis
        voluptatem? Aliquid commodi doloremque ea, iste maiores minima non numquam quis unde velit! Facere id nobis
        repellat reprehenderit?
    </p>
</template>

<style scoped>

</style>
