<script setup>
    import {ref, onMounted} from 'vue'
    import {useRouter} from 'vue-router'
    import UserService from '../services/user-service.js'

    const userSvc = new UserService()
    const users   = ref([])
    onMounted(async () => {
        const userIds = userSvc.intList(1, 5)
        users.value   = await userSvc.findAllUsersById(userIds)
    })

    const router = useRouter()
    async function showUser(id) {
        await router.push({name: 'user', params: {id}})
    }
</script>

<template>
    <h2>User List</h2>
    <table>
        <thead>
            <tr>
                <th>Photo</th><th>ID</th><th>Name</th><th>Email</th><th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user of users"
                :key="user.email"
                @click.prevent="showUser(user.userId)"
                :title="`Click to show user with id=${user.userId}`">
                <td><img :src="user.picture.thumbnail"></td>
                <td>{{ user.userId }}</td>
                <td>{{ user.name.first }} {{ user.name.last }}</td>
                <td><code>{{ user.email }}</code></td>
                <td>{{ user.location.city }}</td>
            </tr>
        </tbody>
    </table>
</template>

<style scoped>
    img {border-radius: 50%;}
    th {text-align: left;padding: .1em 1.5em .1em .1em;}
    tbody tr:hover {background-color: #ddd;}
</style>

