<script setup>
    import {ref, onMounted} from 'vue'
    import {useRoute} from 'vue-router'
    import UserService from '../services/user-service.js'

    const route   = useRoute()
    const userSvc = new UserService()
    const user    = ref(undefined)
    onMounted(async () => {
        const id   = route.params.id
        user.value = await userSvc.findUserById(id)
    })
</script>

<template>
    <h2>Single User</h2>
    <section v-if="user">
        <div><img :src="user.picture.large"></div>
        <div class="name">
            {{ user.name.first }} {{ user.name.last }}
        </div>
        <div><code>{{ user.email }}</code></div>
        <div class="address">
            {{ user.location.street }} <br>
            {{ user.location.postcode }} {{ user.location.city }} <br>
            {{ user.location.state }}, {{ user.nat }}
        </div>
    </section>
</template>

<style scoped>
    section {padding: .1em 2em}
    img {border-radius: 50%;}
    .name {font-size: 1.5rem; font-weight: bold; }
    .address {font-style: italic; margin-top: 1em;}
</style>
