<script setup>
    const props = defineProps({
        photo: {type: String, required: true},
        width: {type: Number, required: false, default: 25}
    })
</script>

<template>
    <div class="card mb-3 shadow" :style="`width: ${props.width}em;`">
        <div class="row g-0">
            <div class="col-4">
                <img :src="photo" class="img-fluid rounded-start" alt="Profile Photo">
            </div>
            <div class="col-8">
                <div class="card-body p-1">
                    <slot> profile data goes here</slot>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    img {
        height: 100%;
    }
</style>
