<script setup>
    import {ref} from 'vue'

    const name = ref('Anna')
    const name2 = ref('Nisse')
    const text = ref('')
    const text2 = ref('')
    const lhs = ref('')
    const rhs = ref('')
    const lhs2 = ref('')
    const rhs2 = ref('')
    const num1 = ref(0)
    const num2 = ref(1)
    const date = ref(new Date(2022, 5, 26))
    const date2 = ref(new Date(2022, 5, 26))
    const consent = ref(false)
    const selection = ref([])
    const toggle = ref('')
    const toggle2 = ref('')
    const stations = ref(['P1', 'P2', 'P3', 'P4', 'NRJ', 'Bandit', 'Megapol'])
    const currentStation = ref(stations.value[0])
    const models = ref(['Audi', 'BMW', 'Citroen', 'Datsun', 'Ford', 'GM', 'Honda', 'Jeep', 'Lexus', 'Volvo'])
    const model = ref('')

    function fmtDate(d) {
        if (!d) return new Date()
        if (d instanceof String) d = new Date(d)
        return `${d.getFullYear()}`
            + `-${d.getMonth() < 9 ? '0' : ''}${d.getMonth() + 1}`
            + `-${d.getDate() < 10 ? '0' : ''}${d.getDate()}`
    }

    console.log('%s', fmtDate(new Date(2022, 8, 9)))
</script>

<template>
    <h1>Form Field</h1>

    <h3>Convoluted: <code>:value="name" @input="name = $event.target.value"</code></h3>
    <label for="name">
        <span>Name:</span>
        <input :value="name" @input="name = $event.target.value" type="text" id="name"/>
        "<kbd>{{ name }}</kbd>"
    </label>

    <h3>Easy: <code>v-model="name2"</code></h3>
    <label for="name2">
        <span>Name 2:</span>
        <input v-model="name2" type="text" id="name2"/>
        "<kbd>{{ name2 }}</kbd>"
    </label>

    <h3>Text data</h3>
    <div class="flex">
        <label><span>Text:</span> <input type="text" v-model="text"> <kbd>"{{ text }}"</kbd></label>
        <label><span>Text2 (trimmed):</span> <input type="text" v-model.trim="text2"> <kbd>"{{ text2 }}"</kbd></label>
    </div>

    <h5>Addition: Naive JS style</h5>
    <div class="flex">
        <label><span>LHS:</span> <input type="text" v-model="lhs"> <kbd>"{{ lhs }}"</kbd></label>
        <label><span>RHS:</span> <input type="text" v-model="rhs"> <kbd>"{{ rhs }}"</kbd></label>
        <label><span>lhs + rhs =</span> {{ lhs + rhs }}</label>
    </div>

    <h5>Addition: Proper JS style</h5>
    <div class="flex">
        <label><span>LHS:</span> <input type="text" v-model.number="lhs2"> <kbd>"{{ lhs2 }}"</kbd></label>
        <label><span>RHS:</span> <input type="text" v-model.number="rhs2"> <kbd>"{{ rhs2 }}"</kbd></label>
        <label><span>lhs + rhs = {{ lhs2 + rhs2 }}</span> (typeof: {{ typeof lhs2 }})</label>
    </div>

    <h5>Using numeric fields</h5>
    <div class="flex">
        <label><span>Num 1</span><input type="number" v-model="num1"><kbd>"{{ num1 }}"</kbd></label>
        <label><span>Num 2</span><input type="range" v-model.number="num2" :min="1" :max="10"><kbd>"{{
                num2
            }}"</kbd></label>
        <label><span>Num1 + Num2 = {{ num1 + num2 }}</span></label>
    </div>

    <h5>Date field</h5>
    <div class="flex">
        <label>
            <span>Date: </span> <input type="date" v-model="date">
            <kbd>"{{ date }}"</kbd> (type: {{ typeof date }})
        </label>
        <label>
            <span>Date2: </span>
            <input type="date" :value="fmtDate(date2)" @input="date2 = new Date($event.target.value)">
            <kbd>"{{ date2 }}"</kbd> (type: {{ typeof date2 }})
        </label>
    </div>

    <h3>Checkboxes</h3>
    <h5>Single boolean</h5>
    <label>
        <span>Consent to GDPR</span>
        <input type="checkbox" v-model="consent">
        <kbd>"{{ consent }}"</kbd>
    </label>

    <h5>Optional choices</h5>
    <div class="flex">
        <div>Apple <input type="checkbox" value="apple" v-model="selection"></div>
        <div>Banana <input type="checkbox" value="banana" v-model="selection"></div>
        <div>Coco Nut <input type="checkbox" value="coco-nut" v-model="selection"></div>
        <div>Date Plum <input type="checkbox" value="date-plum" v-model="selection"></div>
        <div>Selected: <kbd>{{ selection }}</kbd></div>
    </div>

    <h5>Instead of false/true</h5>
    <div class="flex">
        <label>
            <span>Toggle1 state: </span>
            <input type="checkbox" v-model="toggle" true-value="ON" false-value="OFF">
            <kbd>"{{ toggle }}"</kbd>
        </label>
        <label>
            <span>Toggle2 state: </span>
            <input type="checkbox" v-model="toggle2" true-value="ON" false-value="OFF">
            <kbd>"{{ toggle2 }}"</kbd>
        </label>
    </div>

    <h3>Radio buttons</h3>
    <div class="flex">
        <label v-for="s of stations">
            <span>{{ s }}</span>
            <input type="radio" name="radio-station" v-model="currentStation" :value="s">
        </label>
        <label><span>Current station</span><kbd>"{{ currentStation }}"</kbd></label>
    </div>

    <h3>Drop-list selection</h3>
    <label>
        <span>Choose Car Model</span>
        <select name="model" v-model="model">
            <option disabled>Choose a model</option>
            <option v-for="m of models" :value="m">{{m}}</option>
        </select>
        Model: <kbd>"{{model}}"</kbd>
    </label>

    <div class="big-space"></div>
</template>

<style scoped lang="scss">
    label {
        display: block;

        span {
            display: block;
            font-variant: small-caps;
        }

        //& + label { margin-top: 1em; }
    }

    h3, h4, h5, h6 {
        margin: 1.5em 0 0;
    }

    .flex {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
    }
    
    .big-space {padding: 10em 0;}
</style>
