<script setup>
    import {RouterView, RouterLink} from 'vue-router'

    import {ref} from 'vue'
    const msg      = ref('nothing')
    const node_env = process.env.NODE_ENV
    if (!!node_env) {
        msg.value = node_env === 'production' ? 'PROD' : 'DEV'
    } else {
        msg.value = 'UNDEF'
    }

</script>

<template>
    <h1>More about routing</h1>
    <ul>
        <li>
            <router-link :to="{name: 'home'}">Home</router-link>
        </li>
        <li>
            <router-link :to="{name: 'users'}">User List</router-link>
        </li>
    </ul>

    <hr>
    <router-view></router-view>
    <hr>
    <p> Mode: {{ msg }} </p>
</template>

<style scoped>
    .router-link-active {
        color: darkorange;
    }
</style>

