<script setup>
    import {reactive} from 'vue'
    import {Todo} from './domain/todo.js'
    import TodoWidget from './widgets/todo.vue'
    import CreateWidget from './widgets/create.vue'

    const data = reactive({
        list: [
            new Todo('Create this app', new Date(), false),
            new Todo('Write a widget', new Date(), true),
        ]
    })

    function onUpdate(todo) {
        console.log('update: %o', todo);
    }

    function onRemove(todo) {
        const idx = data.list.findIndex(t => t.id === todo.id)
        console.log('remove: %d - %o', idx, todo);
        data.list.splice(idx, 1);
    }

    function onCreate(item) {
        console.log('create: %o', item);
        const todo = new Todo(item.what, item.when)
        data.list.push(todo)
    }
</script>

<template>
    <h1>To-Do App</h1>

    <create-widget @on-save="onCreate" />
    <hr>
    <ul>
        <li v-for="(todo, row) of data.list">
            <todo-widget :todo="todo" @on-update="onUpdate" @on-remove="onRemove" />
        </li>
    </ul>
    
<!--    <hr>
    <pre>{{ data }}</pre>-->
</template>

<style scoped>
    ul { list-style: none; padding: 0; }
    li + li { margin-top: 1.5em; }
</style>
