<script setup>
    import {ref} from 'vue'
    const icons = ref([
        'keyboard', 'briefcase', 'calculator', 'fuel-pump', 'person-video2',
        'printer', 'router', 'shop', 'smartwatch', 'terminal'
    ])
    const colors = ref(['orangered', 'blue', 'green'])
    
    const showClock = ref(false)
    function toggleClock() { showClock.value = !showClock.value }
</script>

<template>
    <h1>Using icon-widget</h1>
    <ul>
        <li v-for="(icon, idx) of icons">
            <Icon :name="icon" 
                  :size="(idx % 4) + 1" 
                  :color="colors[idx % colors.length]"/>
        </li>
    </ul>
    
    <hr>
    <Icon :name="'truck'" :size="8" />
    
    <hr>
    <button @click="toggleClock">Toggle Clock</button>
    <Clock v-if="showClock" />
</template>

<style scoped lang="scss">
    ul {list-style: none;}
</style>

