<script setup>
    import {ref} from 'vue'
    import EditableText from './widgets/editable-text.vue'

    const account = ref({
        firstName: 'Anna',
        lastName: 'Conda',
        email: 'anna.conda@bugsify.ltd'
    })

    function onUpdated(property) {
        console.log('[app] updated: %o', property)
    }
</script>

<template>
    <h1>Editable Form-Fields</h1>

    <fieldset>
        <legend>Account Data</legend>
        <table>
            <tbody>
                <tr>
                    <th>First Name:</th>
                    <td>
                        <editable-text :name="'first-name'" :value="account.firstName"
                                       @on-update="onUpdated"/>
                    </td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td>
                        <editable-text :name="'last-name'" :value="account.lastName"
                                       @on-update="onUpdated"/>
                    </td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>
                        <editable-text :name="'email'" :value="account.email"
                                       @on-update="onUpdated"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</template>

<style scoped>
    table {
        font-family: sans-serif;
        font-size: 20px;
    }

    th {
        vertical-align: top;
        text-align: left;
        width: 6em;
    }
</style>
