<script setup>

</script>

<template>
    <section>
        <header>
            <router-link to="/user-list">
                header goes here
            </router-link>
        </header>
        <main>
            <router-view/>
        </main>
        <footer>
            footer goes here
        </footer>
    </section>
</template>

<style scoped>
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    main {
        flex-grow: 1;
        flex-shrink: 1;
        padding: .5em 1em;
    }

    header {
        background-color: #333;
        color: white;
        padding: .5em 1em;
    }

    footer {
        background-color: #333;
        color: white;
        padding: .5em 1em;
    }

    a {
        color: white;
        text-decoration: none;
    }
</style>
