<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Vue</title>
    <link rel="stylesheet" href="./app.css">
    <script type="module" defer src="./app.js"></script>
</head>

<body>
    <h1>Embedded Vue</h1>
    <div id="app">
        <h2> Hello {{ name }}! </h2>
        <p>The date and time is {{ date }}</p>
        <form>
            <label for="what">What:</label>
            <input type="text" id="what" v-model="newTodo.what" required>

            <label for="when">When:</label>
            <input type="date" id="when" v-model="newTodo.when" required>

            <button type="submit" @click.prevent="create" style="margin-left:1em;">
                Create
            </button>
        </form>
        <hr>
        <pre>{{ newTodo }}</pre>
        <hr>
        <ol>
            <li v-for="(todo, row) in todos" :class="{done: todo.done}">
                <h3>{{ todo.what }}</h3>
                <em>Before {{ todo.when }}</em>
                <kbd v-if="todo.done">[Completed]</kbd>
                <div>
                    <button @click="toggleDone(todo)">
                        {{ todo.done ? 'Undo Complete' : 'Complete' }}
                    </button>
                    <button @click="remove(row)">
                        Remove
                    </button>
                </div>
            </li>
        </ol>
    </div>
</body>
</html>