body {
    font-family: sans-serif;
}

h2 {
    color: dodgerblue;
}

p {
    font-style: italic;
}

h3 {
    font-variant: small-caps;
    color: orangered;
}

.done>* {
    text-decoration: line-through;
    color: #aaa;
}

button+button {
    margin-left: 1em;
}
