<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Vue</title>
    <style>
        body {
            font-family: sans-serif;
        }

        h2 {
            color: dodgerblue;
        }

        p {
            font-style: italic;
        }

        h3 {
            font-variant: small-caps;
            color: orangered;
        }

        .done>* {
            text-decoration: line-through;
            color: #aaa;
        }

        button+button {
            margin-left: 1em;
        }
    </style>
</head>

<body>
    <h1>Embedded Vue</h1>
    <div id="app">
        <h2> Hello {{ name }}! </h2>
        <p>The date and time is {{ date }}</p>
        <form>
            <label for="what">What:</label>
            <input type="text" id="what" v-model="newTodo.what" required>

            <label for="when">When:</label>
            <input type="date" id="when" v-model="newTodo.when" required>

            <button type="submit" @click.prevent="create" style="margin-left:1em;">
                Create
            </button>
        </form>
        <hr>
        <pre>{{ newTodo }}</pre>
        <hr>
        <ol>
            <li v-for="(todo, row) in todos" :class="{done: todo.done}">
                <h3>{{ todo.what }}</h3>
                <em>Before {{ todo.when }}</em>
                <kbd v-if="todo.done">[Completed]</kbd>
                <div>
                    <button @click="toggleDone(todo)">
                        {{ todo.done ? 'Undo Complete' : 'Complete' }}
                    </button>
                    <button @click="remove(row)">
                        Remove
                    </button>
                </div>
            </li>
        </ol>
    </div>
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        const app = createApp({
            data: () => ({
                name: 'Anna Conda',

                date: new Date().toLocaleString(),

                todos: [
                    { what: 'Learn HTML', when: '2021-01-10', done: true },
                    { what: 'Understand CSS', when: '2021-02-12', done: true },
                    { what: 'Study JavaScript', when: '2021-03-14', done: true },
                    { what: 'Investigate Vue.js', when: '2022-10-24', done: false },
                    { what: 'Build an awesome app', when: '2021-11-15', done: false },
                ],

                newTodo: { what: '', when: new Date().toLocaleDateString(), done: false },
            }),

            methods: {
                toggleDone(todo) { todo.done = !todo.done },
                remove(idx) { this.todos.splice(idx, 1) },
                create() {
                    const item = Object.assign({}, this.newTodo);
                    this.todos.push(item);
                    this.newTodo = { what: '', when: '', done: false }
                }
            }

        });
        app.mount('#app');
    </script>
</body>
</html>