img[data-v-73d01563]{height:100%}h3[data-v-73d01563]{margin:0;font-size:1rem}address[data-v-73d01563]{font-size:.9rem;font-style:italic;margin-top:.5em}img[data-v-0b0dcd1e]{width:100%;border-radius:.5em}.container[data-v-9315e4f4]{display:flex;flex-direction:column;justify-content:space-between;height:100vh}main[data-v-9315e4f4]{flex-grow:1;flex-shrink:1}
