<script setup>
    import {ref, watch} from 'vue'
    const question = ref('')
    const answer   = ref(undefined)
    const image    = ref(undefined)

    watch(question, async (newValue, prevValue) => {
        if (!newValue || newValue.trim().length === 0) {
            answer.value = ''
            image.value  = undefined
            return
        }
        answer.value = 'Thinking...'
        image.value  = undefined
        try {
            const response = await fetch('https://yesno.wtf/api')
            if (response.ok) {
                const data   = await response.json()
                answer.value = data.answer
                image.value  = data.image
            } else {
                answer.value = 'Fail: ' + response.status
            }
        } catch (err) {
            answer.value = 'Error: ' + err
        }
    })
</script>

<template>
    <h2>The Decision Maker</h2>
    <h5>Should you say yes or no?
        <input type="text" v-model="question"
               placeholder="Type a question mark here"/>
    </h5>
    <h3 v-if="answer">
        Say: {{ answer }} <br>
        <img :src="image" alt="The answer">
    </h3>
</template>

<style lang="scss" scoped>
    img {
        width: 16em;
        border-radius: .5em;
    }
    h2,h3,h4,h5,h6 {margin: 0;}
</style>

