<script setup>
    import {ref,} from 'vue'
    import StopWatch from './widgets/stop-watch.vue'

    const visible = ref(true)
</script>

<template>
    <stop-watch v-if="visible"/>
    <button @click="visible = !visible">Toggle Mounting</button>
</template>

<style lang="scss" scoped>

</style>