<script setup>
    import {ref} from 'vue'
    import ProfileWidget from './widgets/profile.vue'

    const user = ref({
        photo: 'https://randomuser.me/api/portraits/women/96.jpg',
        name: {
            title: "Mrs",
            first: "Célia",
            last: "Duval"
        },
        email: "celia.duval@example.com",
        location: {
            street: {
                "number": 2793,
                "name": "Rue Louis-Garrand"
            },
            city: "Nancy",
            country: "France",
            postcode: 51552,
        },
    })
</script>

<template>
    <h1>Profile Widget</h1>

    <div class="container">
        <div class="row">
            <div class="col">

                <profile-widget :photo="user.photo">
                    <h3>{{ user.name.title }} {{ user.name.first }} {{ user.name.last }} </h3>
                    <div><code>{{ user.email }}</code></div>
                    <address>
                        {{ user.location.street.name }} {{ user.location.street.number }} <br>
                        {{ user.location.postcode }} {{ user.location.city }} <br>
                        {{ user.location.country }}
                    </address>
                </profile-widget>

            </div>
        </div>
    </div>
</template>

<style scoped>
    h3 {
        margin: 0;
        font-size: 1rem;
    }

    address {
        font-size: .9rem;
        font-style: italic;
        margin-top: .5em;
    }
</style>
