<script setup>
    import {onMounted, ref} from 'vue'
    import {useRoute, useRouter} from 'vue-router'
    import {DateTime} from 'luxon'

    import {useTodoStore, Todo} from '../stores/todo-store.js'

    const router = useRouter();
    const route = useRoute();
    const id = Number(route.params.id || -1)

    const todoStore = useTodoStore();
    let todo = ref()

    onMounted(() => {
        const obj = todoStore.one(id)
        console.log('[edit] id=%s, obj: %s', id, obj)
        todo.value = obj
    })

    function toIso(d) {
        return DateTime.fromJSDate(d).toISODate()
    }

    function fromIso(d) {
        return DateTime.fromISO(d).toJSDate()
    }

    async function cancel() {
        await router.replace({name: 'home'})
    }

    async function save() {
        todoStore.replace(id, todo.value);
        await cancel();
    }
</script>

<template>
    <h1>Edit To-Do</h1>

    <div v-if="todo">
        <div class="mb-2">
            <label for="what" class="form-label">What</label>
            <input type="text" id="what" v-model="todo.what" class="form-control">
        </div>
        <div class="mb-2">
            <label for="when" class="form-label">When</label>
            <input type="date" id="when" class="form-control"
                   :value="toIso(todo.when)"
                   @input="todo.when = fromIso($event.target.value)">
        </div>
        <div class="mb-2 form-check">
            <input type="checkbox" id="done" v-model="todo.done" class="form-check-input">
            <label for="done" class="form-check-label" >Done</label>
        </div>
        <div>
            <button @click="save" class="btn btn-success">
                Save
            </button>
            <button @click="cancel" class="btn btn-secondary">
                Cancel
            </button>
        </div>
    </div>

</template>

<style scoped>
    button + button {
        margin-left: 1em;
    }
</style>
