<script setup>
    import {useRouter} from 'vue-router'
    import {useTodoStore} from '../stores/todo-store.js'
    import TodoWidget from '../widgets/todo.vue'

    const todoStore = useTodoStore();
    const router    = useRouter()
    
    function onEdit(id) {
        router.push({name: 'edit', params: {id}})
    }
    function create() {
        router.push({name: 'edit', params: {id: -1}})
    }
</script>

<template>
    <h1 class="d-flex justify-content-between">
        <span>Things To-Do</span>
        <button @click="create" class="btn btn-success">
            Create
        </button>
    </h1>

    <template v-for="t of todoStore.all()" :key="t.id">
        <todo-widget :todo="t" @edit="onEdit(t.id)" />
    </template>
</template>

<style scoped>
    .todo + .todo {
        margin-top: 1em;
    }
</style>

