<script setup>
    import PRODUCTS from './products.js'
    import {Product} from './product.js'
    import {ref, onMounted, computed} from 'vue'

    const cart = ref([])

    onMounted(() => {
        cart.value = PRODUCTS.map(p => new Product(p))
    })

    function kr(amt) {
        const txt = Number(amt).toLocaleString('sv', {
            useGrouping: true,
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
        }) + ' kr';
        return txt;
    }

    const sum = computed(() => cart.value
            .map(item => item.amount)
            .reduce((sum,amt) => sum+amt, 0)
    );

    const vat = computed(() => sum.value * .25)

    const total = computed(() => sum.value + vat.value)
</script>

<template>
    <h1>Shopping Cart</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Price</th>
                <th>Count</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,row) of cart">
                <td>{{ row + 1 }}</td>
                <td>{{ item.product }}</td>
                <td>{{ kr(item.price) }}</td>
                <td>{{ item.count }}</td>
                <td>{{ kr(item.amount) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Sum:</th>
                <td>
                    {{ kr(sum) }}
                </td>
            </tr>
            <tr>
                <th colspan="4">VAT (25%):</th>
                <td>
                    {{ kr(vat) }}
                </td>
            </tr>
            <tr>
                <th colspan="4">Total:</th>
                <td>
                    {{ kr(total) }}
                </td>
            </tr>
        </tfoot>
    </table>

<!--    <hr>-->
<!--    <pre>{{ cart }}</pre>-->
</template>

<style scoped>
    table {
        width: 100%;
    }

    th {
        text-align: left;
    }

    tbody tr:hover {
        background-color: #ccc;
    }

    thead th:nth-child(3),
    thead th:nth-child(4),
    thead th:last-child,
    tbody td:nth-child(3),
    tbody td:nth-child(4),
    tbody td:last-child {
        text-align: right;
    }

    tfoot th, tfoot td {
        text-align: right;
    }

    tfoot tr:first-child td {
        border-top: double 3px #555;
    }
    tfoot tr:last-child td {
        font-weight: 600;
    }
</style>
