<script setup>
    import {ref} from 'vue'

</script>

<template>
    <h2>About Page</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorum earum expedita neque qui recusandae
        repellendus veritatis! Ad animi laborum, minus odit praesentium quam rem similique! Architecto beatae
        consequatur, cum cumque doloribus ea eligendi laudantium magni maiores modi natus non numquam optio quas quo
        sequi tempora veritatis, voluptatem voluptatibus voluptatum? Culpa dolore eum fugit, illo minus nihil odit
        quibusdam totam veniam voluptatem! Ad autem ea enim expedita perspiciatis possimus sequi. Alias aliquid amet
        commodi deserunt dignissimos doloribus eaque illo magnam, officiis quibusdam quis quisquam, quo voluptatum.
        Accusantium ad aut consectetur eaque excepturi facilis impedit in mollitia, odio quidem sequi voluptas?
    </p>
</template>

<style scoped>

</style>
