<script setup>
    import {ref} from 'vue'

</script>

<template>
    <h2>Oh no, page not found</h2>
    <p>
        You might want to consider your choice of pages
    </p>
    <p>
        Probably, you now just want to go <router-link to="/">home</router-link>
    </p>
</template>

<style scoped>

</style>
