<script setup>
    import {ref} from 'vue'

</script>

<template>
    <h1>About Page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae blanditiis cum debitis dicta dolorum
        eligendi et, harum incidunt ipsam iste natus nesciunt nihil nisi nulla repellendus sapiente soluta ut. Assumenda
        commodi eos hic id iusto nam natus nobis pariatur porro possimus quas qui quibusdam, repellat repellendus
        voluptates? Architecto consequuntur dicta enim illo numquam provident ratione sed tenetur velit voluptatum!
        Alias dicta doloremque ea eum expedita id inventore magni necessitatibus nobis quae, quasi recusandae, sed
        tenetur ullam vitae, voluptas voluptatibus? Aut eaque eius quos veniam vero? Inventore ipsam modi obcaecati quis
        rem similique tempore unde voluptatibus. Deserunt et possimus quae!
    </p>
</template>

<style scoped>

</style>
