<script setup>
    import {ref} from 'vue'
    const image = ref('https://loremflickr.com/800/300/house')
</script>

<template>
    <h1>Home Page</h1>
    <p>
        <img :src="image" alt="Home" class="img-fluid rounded">
    </p>
</template>
