<script setup>
    import {ref} from 'vue'

    const image = ref('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a4db110286437.560e265e86fa2.jpg')
</script>

<template>
    <h1>Page Not Found</h1>
    <router-link to="/home">
        <img :src="image" alt="not found">
    </router-link>
</template>

<style scoped>
    img {
        width: 100%;
        border-radius: .5em;
    }
</style>
